<div>
  <h1><%= @inventory.name%></h1>
  <h2><%= link_to 'REMOVE', inventory_path(@inventory), data: {
    confirm: 'Are you sure you want to remove: #{@recipe.name}?',
    }, method: :delete %><h2>
  <p><%= @inventory.description%></p>
</div>


