
  <div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Generating Shopping List</h4>
  </div>
  <div class="modal-body">
    <%= select_tag('inventories', options_from_collection_for_select(@inventories, :id, :name)) %>
    <button type="button" class="btn">Generate</button>
  </div>
