<h1>Hello World</h1>
<% @recipes.each do |recipe| %>
  <div>
    <div>
      <p><%= recipe.name %></p>
      <p>By: <%= recipe.user.email %></p>
    </div>

    <div>
      <p>Total food items: <%= recipe.count_total_food_items %></p>
      <p>Total price: $<%= recipe.count_total_price %></p>
    </div>
  </div>
<% end %>