<% @users.each do |user| %>
    <div class="user-name">
      <%= link_to user_path(user.id) do %>
          <h1><%= user.name%></h1>
      <% end %>
      <p><%= user.email%></p>
    </div>
<% end %>


<%= link_to 'Sign Out', destroy_user_session_path, class: 'text-light', data: { turbo_method: :delete } %> 